@import url('loader.css');
@import url('slider.css');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Play', sans-serif;
}
header #container-header{
	width: 100%;
	height: 50px;
	background: rgba(14,17,41,0.9);
	color: #fff;
	display: flex;
	justify-content:space-between ;	
	position: fixed;
	box-shadow: 1px 1px 10px -8px #fff;
	z-index: 900;
}

h1 a{
	font-size: 20px;
	margin: 10px 0 0 10px;
	text-decoration: none;
	color: #fff;
}

#btn-menu{
	display: none;
}
header label {
	font-size: 30px;
	cursor: pointer;
	display: none;
}

#menu ul{
	background: rgba(14,17,41,0.8);
	display: flex;
	list-style: none;
}

#menu ul ul{
	display: none;
}

#menu a{
	text-decoration: none;
	color: #fff;
	padding: 15px 20px;
	display: block;

}

#menu a:hover{
	background: rgba(255,255,255,0.5);
}

#menu ul li:hover ul{
	display: block;
	position: absolute;
}



@media (max-width:850px){
	header label{
		display: block;
		padding-right: 5px;
		padding-top: 7px;
	}
	#menu{
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100vh;
		transform: translateX(-100%);
		transition: all 0.3s;
	}
	#menu ul{
		display: block;
		height: 100%;
	}
	#menu ul li{
		border-bottom: 2px solid rgba(255,255,255,0.3);
	}
	#menu ul li:hover ul{
		display: none;
		position: static;
	}
	#btn-menu:checked ~ #menu{
		transform: translateX(0%);
	}
}
/*-------------------- Acerca de Mi ----------------*/
#acerca_mi{
	background: rgba(31,157,249,1);
	padding: 20px 0;
	color: #fff;
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.8);
	width: 95%;
	margin: 20px auto;
}
#acerca_mi h1{
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 5px 0 10px 0;
	background: rgba(255,255,255,0.1);
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.8);
}
#info-1{
	margin-top: 10px;
	width: 100%;
	height: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
.mi-imagen{
	width: 50%;
	height: 300px;
	margin: 15px;
	overflow: hidden;
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.8);
	
	transition: all 0.2s;
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	border: 4px solid #fff;
}
.mi-imagen:hover{
	transition: all 0.2s;
	filter: grayscale(50%);
	-webkit-filter: grayscale(50%);
}
#imag1{
	width: 100%;
	min-width: 350px;
	height: 100%;
}

.texto-cont{
	width: 40%;
	margin: 15px 10px;
	padding: 7px;
	background: rgba(255,255,255,0.1);
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.3);
	border-radius: 25px 0;
	font-size: 14px;
}
.log-mi{
	display: flex;
	flex-wrap: wrap;
	margin-top: 5px;
	justify-content: center;
}

.log-mi h4{
	font-size: 14px;
	padding: 10px 15px;
}
@media (max-width:850px){
	#acerca_mi{
		width: 100%;
	}
	.mi-imagen{
		width: 90%;
	}
	.texto-cont{
		width: 90%;
	}
}
/* ----------- Habilidades ---------- */
#habilidades{
	background: rgba(14,17,41,0.9);
	width: 100%;
	height: 50%;
	color: #fff;
	margin: 15px auto;
	padding: 20px 0 20px 0;
	text-align: center;
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.8);
}
#habilidades h1{
	padding: 10px 0 10px 0;
	margin: 5px 0 10px 0;
	background: rgba(255,255,255,0.1);
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.9);
}
#habilidades #misTabs{
	width: 90%;
	margin: auto;
	padding: 5px;
	font-size: 12px;
}

#dWeb, #dJS, #aHibridas, #ecommerce, #responsive{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	color: #fff;

}
.titulo_habilidades{
	width: 95%;
	height: 10%;
	background: rgba(76,141,211,0.9);
	margin: auto;
	padding: 20px;
	border-radius: 10px;
	justify-content: center;
	display: flex;
	position: relative;
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.9);
}
.titulo_habilidades h3{
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-10%) translateY(-50%);
}

.circulo{
	width: 100px;
	height: 100px;
	background: blue;
	border-radius: 50%;
	box-shadow: -30px -30px 0 0 rgba(0,0,0,0.15) inset,
				-70px -40px 0 0 rgba(0,0,0,0.1) inset,
				5px 5px 0 0 rgba(255,255,255,0.2) inset;
	overflow: hidden;
	/*background-size: cover;*/
	position: relative;
	transform: translateX(-100%);
}

.circulo h2{
	font-size: 20px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	transform: translateX(-50%) translateY(-50%);
}

.contenido_insignia{
	width: 100%;
	color: rgba(0,0,0,0.5);
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.insignia{
	width: 150px;
	height: 150px;
	background: rgba(76,141,211,0.9);
	margin: 20px 30px;
	padding: 15px 10px;
	position: relative;
	color: #fff;
	border-radius: 5px 5px 2px 2px;
	text-align: center;
}
.insignia:after{
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 25px solid rgba(76,141,211,0.9);
}
hr{
	color: #fff;
	margin: 5px 0;
}
.insignia:hover img{
	padding: 3px;
	cursor: pointer;
}

/*-------------- Otros Conocimientos ----------*/
#conocimientos{
	background: rgba(31,31,31,0.9);
	color:  rgba(225,225,225,1.00);
	width: 95%;
	height: 50%;
	margin: 20px auto;
	padding: 20px 0;
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.8);
	position: relative;
}
#conocimientos h1{
	background: rgba(255,255,255,0.1);
	text-align: center;
	margin: 5px 0 10px 0;
	padding: 10px 0 10px 0;
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.8);
}
.libreria{
	height: 500px;
	width: 90%;
	margin: auto;
	background: #eee;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.libreria_item{
	flex-grow: 1;
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	
	justify-content: center;
	align-items: center;
	
	display: flex;
	transition: flex-grow 0.2s;
	border: 1px solid #fff;
	
	position: relative;
}
.libreria_titulo{
	display: flex;
	transform: translateY(0%) translateX(0%);
	transition: transform 0.2s;
}
.libreria_titulo img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.titulo_item{
	margin: auto 4px;
}
.libreria_item:nth-child(1){
	background: rgba(76,141,211,0.9);
}
.libreria_item:nth-child(2){
	background: rgba(251,66,25,0.7);
}
.libreria_item:hover{
	flex-grow: 7;
}
.contenido_item{
	display: none;
	width: 90%;
}
.libreria_item:hover{
	background: rgba(101,13,120,0.80);
}
.libreria_item:hover .libreria_titulo{
	transform: translateY(-600%) translateX(0%);
	transition: transform 0.2s;
}
.libreria_item:hover .contenido_item{
	display: table;
	padding-top: 15%;
	position: absolute;
	color: #fff;
	transition: all 0.4s 0.4s;
}
.cont_ot{
	font-size: 11px;
	width: 100%;
	color: #eee;
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}
.cont_ot img{
	width: 70px;
	height: 70px;
	margin: auto 5px;
}
.cont_ot img:hover{
	padding: 5px;
}
.cont_ot p{
	width: 70%;
	height: 100%;
}

@media (max-width:850px){
	#conocimientos{
		width: 100%;
		position: relative;
	}
	.libreria{
		height: 900px;
	}
	.libreria_item{
		width: 100%;
	}
	.libreria_titulo{
		width: 100%;
		justify-content: center;
	}
	.libreria_item:hover .titulo_item{
		font-size: 18px;
		transform: translateY(-350%) translateX(0%);
		transition: transform 0.2s;
	}
	.libreria_item:hover .img-titulo{
		display: none;
	}
	.libreria_item:hover .contenido_item{
		display: inline-block;
		padding-top: 10%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.contenido_item{
		margin-top: 5px;
	}
	.contenido_item p{
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.cont_ot img{
		width: 12%;
		height: 12%;
	}
	.cont_ot p{
		width: 90%;
		height: 100%;
		font-size: 9px;
	}
	.libreria_titulo{
		width: 100%;
		top:0;
		left: 0;
	}
}

.certificado{
	margin: 20px 5%;
}
.certificado iframe{
	width: 100%;
	height: 600px;

}

/* -------- scroll ---------- */
.seleccionado{
	background: rgba(255,255,255,0.5);
}

/* --- portafolio --- */
#portafolio{
	width:100%;
	height: 50%;
	background: #fff;
	text-align: center;
}
#portafolio h1{
	padding: 10px 0 10px 0;
	margin: 5px 0 10px 0;
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.3);
}
.contenido{
	width: 100%;
}
.cont_header{
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}
.logos-h{
	width: 100px;
	height: 110px;
	font-size: 80%;
	padding-top: 5px;
	margin: 10px;
}
.logos-h img{
	width: 60%;
	height: 60%;
	margin: auto;
}

.proyectos{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.proy_item{
	width: 250px;
	height: 300px;
	margin: 5px;
}
.proy_item img{
	width: 100%;
	height: 50%;
	padding: 5px;
	filter:brightness(100%);
	transition: filter 0.2s;
}
.proy_item:hover img{
	filter:brightness(50%);
	transition: filter 0.2s;
}
.proy_item p{
	padding: 5px 10px;
	font-size: 12px;
	background: rgba(31,157,249,0.2);
	border-radius: 10px;
	margin-top: 5px;
}
button{
	width: 90%;
	background: rgba(31,157,249,1);
	border-color: rgba(31,157,249,1);
	color:#fff;
	padding: 5px 0;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 5px;
}
button:hover{
	background: rgba(31,157,249,0.8)
}
/* --- contactame --- */
#contactame{
	width: 100%;
	height: 50%;
	background: rgba(240,52,0,1.00);
	color: #fff;
	margin: 20px auto;
	padding: 20px 0;
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.8);
}
#contactame h1{
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 5px 0 10px 0;
	background: rgba(255,255,255,0.1);
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.9);
}
.contactos{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.formulario {
	width: 450px;
	height: 100%;
	background: rgba(255,255,255,0.5);
	margin: 25px;
	justify-content: center;
	padding: 20px 10px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.5);
}
.formulario label{
	margin: 20px auto;
	color: rgba(240,52,0,1.00);
}
#nombre, #email, #comentario{
	width: 70%;
	float: right;
}
#btn-enviar{
	width: 100%;
	height: 30px;
	margin-top: 10px;
	background: rgba(240,52,0,0.9);
	border: 2px solid rgba(240,52,0,1.00);
	border-radius: 5px;
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.5);
	cursor: pointer;
	color: #fff;
	font-size: 17px;
}
#btn-enviar:hover{
	background: rgba(240,52,0,0.6);
}
#mensajeF{
	width: 90%;
	height: 30px;
	padding-top: 5px;
	margin: 10px auto;
	background: rgba(255,255,255,0.1);
	border-radius: 10px;
	text-align: center;
}
.redes-sociales{
	width: 450px;
	height: 100%;
	background: rgba(255,255,255,0.1);
	margin: 25px;
	text-align: center;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.5);
	flex-wrap: wrap;
}
.descripcion_rs{
	padding: 15px 5px;
}
.redes_soc_log{
	display: flex;
	justify-content: center;
}
.redes_soc_log div{
	width: 100px;
	height: 80px;
	margin: 5px;
}
.derechos{
	text-align: center;
	display:block;
	width: 400px;
	margin: auto;
	padding-top: 20px;
}
.derechos img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid #fff;
	filter: sepia(0%);
	transition: all 0.2s;
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,0.5);
}
.derechos img:hover{
	filter: sepia(60%);
	transition: all 0.2s;
	box-shadow: 2px 2px 5px 1px rgba(14,17,41,1);
}

@media (max-width:850px){
	.derechos{
		width: 100%;
	}
	#nombre, #email, #comentario{
		width: 100%;
		height: 30px;
	}
}
/* --- footer --- */
footer{
	background: rgba(14,17,41,1);
	color: #fff;
	width: 100%;
	height: 100px;
	text-align: center;
	padding-top: 40px;
}